<section class="gallery" id="gallery">

    <h1 class="heading" align="center"> Our Food <span> Gallery </span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="../../assets/images/g-1.jpg" alt="">
            <div class="content">
                <h3>Burger</h3>
                <p>Have the most delicious Burger fom our Restaurant.</p>
                <h4>Rs.150/-<a class="navlink" routerLink="/insert-component">ORDER NOW</a></h4>
            </div>
        </div>
        <div class="box">
            <img src="../../assets/images/g-2.jpg" alt="">
            <div class="content">
                <h3>Sanveg</h3>
                <p>Have the most delicious Sanveg fom our Restaurant.</p>
                <h4>Rs.120/-<a class="navlink" routerLink="/insert-component">ORDER NOW</a></h4>
            </div>
        </div>
        <div class="box">
            <img src="../../assets/images/g-3.jpg" alt="">
            <div class="content">
                <h3>Shawarma</h3>
                <p>Have the most delicious Shawarma fom our Restaurant.</p>
                <h4>Rs.90/-<a class="navlink" routerLink="/insert-component">ORDER NOW</a></h4>
            </div>
        </div>
        <div class="box">
            <img src="../../assets/images/g-4.jpg" alt="">
            <div class="content">
                <h3>Cup Cake</h3>
                <p>Have the most delicious Cup Cakes fom our Restaurant.</p>
                <h4>Rs.60/-<a class="navlink" routerLink="/insert-component">ORDER NOW</a></h4>
            </div>
        </div>
        <div class="box">
            <img src="../../assets/images/g-5.jpg" alt="">
            <div class="content">
                <h3>Tasty Sweet</h3>
                <p>Have the most delicious Sweets fom our Restaurant.</p>
                <h4>Rs.100/-<a class="navlink" routerLink="/insert-component">ORDER NOW</a></h4>
            </div>
        </div>
        <div class="box">
            <img src="../../assets/images/g-6.jpg" alt="">
            <div class="content">
                <h3>Chicken Fry</h3>
                <p>Have the most delicious Chicken fom our Restaurant.</p>
                <h4>Rs.200/-<a class="navlink" routerLink="/insert-component">ORDER NOW</a></h4>
            </div>
        </div>
        <div class="box">
            <img src="../../assets/images/g-7.jpg" alt="">
            <div class="content">
                <h3>Egg Sanveg</h3>
                <p>Have the most delicious Sanveg fom our Restaurant.</p>
                <h4>Rs.110/-<a class="navlink" routerLink="/insert-component">ORDER NOW</a></h4>
            </div>
        </div>
        <div class="box">
            <img src="../../assets/images/g-8.jpg" alt="">
            <div class="content">
                <h3>Dark Chocolate</h3>
                <p>Have the most delicious Chocolates fom our Restaurant.</p>
                <h4>Rs.220/-<a class="navlink" routerLink="/insert-component">ORDER NOW</a></h4>
            </div>
        </div>
        <div class="box">
            <img src="../../assets/images/g-9.jpg" alt="">
            <div class="content">
                <h3>Blueberry Delight</h3>
                <p>Have the most delicious Cookies fom our Restaurant.</p>
                <h4>Rs.140/-<a class="navlink" routerLink="/insert-component">ORDER NOW</a></h4>
            </div>
        </div>
        <div class="box">
            <img src="../../assets/images/foto6.jpg" alt="">
            <div class="content">
                <h3>Tandoori Chicken</h3>
                <p>Have the most delicious Tandoori Chicken fom our Restaurant.</p>
                <h4>Rs.250/-<a class="navlink" routerLink="/insert-component">ORDER NOW</a></h4>
            </div>
        </div>
    </div>

</section>
<router-outlet></router-outlet>
