<div align="center" class="section">
        <div class="container">
                <div class="content-section">
                        <div class="title">
                                <h1><span>About</span> Us</h1>
                        </div>
                        <div class="content">
                                <h3>Food Made With Love</h3>
                                <p>Our restaurant is a place where cooked food is sold to people, and where people
                                sit down to eat it. It is also a place where people come to enjoy the time and have a good meal.
                                Happiness is eating restaurant food instead of hostel food
                                count the memories not the calories</p>
                                <div class="button">
                                        <a href="">Read More</a>
                                </div>
                        </div>
                </div>
                <div class="image-section">
                        <img src="../../assets/images/aboutpic.jpg">
                </div>
        </div>
</div>