
<section class="speciality" id="speciality">
    <h1 class="heading" align="center"> Our Food <span> Speciality</span> </h1>
    <div class="box-container">

        <div class="box">
            <img class="image" src="../../assets/images/s-img-1.jpg" alt="">
            <div class="content">
                <img src="../../assets/images/s-1.png" alt="">
                <h3>Burger</h3>
                <p>Burgers are one of the most popular food in the whole world so end your day with a delicious burger from us.. Life is too short to miss out on double cheeseburgers</p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="../../assets/images/s-img-2.jpg" alt="">
            <div class="content">
                <img src="../../assets/images/s-2.png" alt="">
                <h3>Pizza</h3>
                <p>Buy a slice of happiness where the pizza give you haooiness, comfort and satisfaction, from fresh and top-quality ingredients..Just give it a try..</p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="../../assets/images/s-img-3.jpg" alt="">
            <div class="content">
                <img src="../../assets/images/s-3.png" alt="">
                <h3>Cold Ice-cream</h3>
                <p>Ice cream makes you happy..you should not cry over spilled milk, however a dropped ice cream cone is a totally different story...Just give it a try..</p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="../../assets/images/s-img-4.jpg" alt="">
            <div class="content">
                <img src="../../assets/images/s-4.png" alt="">
                <h3>Cold Drinks</h3>
                <p>The best drinks, cocktails, iced teas, lemonades, and more icy beverages to cool you off on a hot day.Just give it a try..</p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="../../assets/images/s-img-5.jpg" alt="">
            <div class="content">
                <img src="../../assets/images/s-5.png" alt="">
                <h3>Chocolates</h3>
                <p>With so many stressful things going on in our lives, every now and then, we need to take a moment and just indulge in the simple things.And whats better than a delicious tssty sweet to turn a gloomy day into a happier one.</p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="../../assets/images/s-img-6.jpg" alt="">
            <div class="content">
                <img src="../../assets/images/s-6.png" alt="">
                <h3>Puffs</h3>
                <p>A positive start with our filling nutritious breakfast.. what we do first thing in the morning typically sets the tone for the rest of the day.</p>
            </div>
        </div>

    </div>

</section>
